@import './_normalize.scss';

img {
    height: 100%
}

.box {
    margin: 15px 0;
    padding: 10px;
    background: #bff3dc;
}

.btn {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.tag-count {
    background-color: rgba(74, 144, 226, .2);
    border-radius: 10px;
    color: #4a90e2;
    font-size: .65rem;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    white-space: nowrap;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-check-input:hover,
.form-check-label:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin-top: 1rem;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.card__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;

    &:hover {
        transform: translateX(-100%) rotateY(-180deg);
    }
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card__face--back {
    background-image: linear-gradient(to bottom right, #3f5efb, #fc466b);
    transform: rotateY(180deg);
}

.card-title {
    margin-top: 1rem;
}

.card-label {
    font-size: 1.5rem;
}

.activeCards {
    border: 5px solid #fc466b;
    border-radius: 10px;
    box-shadow: 0px 14px 30px #C88888;
}